/* .container{
    margin-bottom: 45px;
} */


.body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.con{
    background:#ecfffb; 
    padding-bottom:50px;


} 

.image img{
width: 130px;
height: 60px;

}

.btn{
    padding:5px 20px;


}
span{
    color:  #15ec47;

}
.h6{
    color: red;
}
.tops{
    margin-top: 35px;
}

.imaget img{
    width: 150px;
    height: 150px;
   display: flex;
   margin: auto;
   margin-top: 12px;
  


}

.ball h2 ,p{
    text-align: center;
   
}
.ball{
    background:#ecfffb; 
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 15px 0;

   
}

.son{background: #ecfffb;
    padding-bottom:50px;

}

.designation{
    background:#ecfffb ;
    padding-bottom:50px;
}

.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     border-radius: 9px; 
}
.strong{
    color:#15ec47;
}




.footer{
    background: #000000e7;

}

.footes{
    padding-top: 45px;
    padding-bottom: 45px;


}

.footer-title{
    color: #fff;



}


.list-unstyle{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-unstyle li a{
    color: #fff;
    
     
}




a:hover{
    text-decoration: none;
}

.footer ul{
    margin: 0;
}

.para{
    color: #fff;
    text-align:left;
    padding-top: 10px;
padding-bottom: 10px;
}

.futter{
    background-color: rgb(0 0 0);
    text-align: center;
    color: #fff;
    padding: 14px 0;
}
